## Visual Studio cache/options directories
.vs/
.vscode/

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww]in32/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Build files
*.dll
*.exe
*.pdb
*.cache
*.vsidx

## Project-specific
*.v2
*.v9.bin
*.db
*.dtbcache.v2
*.futdcache.v2
applicationhost.config
DocumentLayout.json
DocumentLayout.backup.json

## Compressed files (optional - bỏ dòng này nếu muốn upload file .rar)
*.rar
*.zip
*.7z

## NuGet Packages
*.nupkg
**/packages/*
!**/packages/build/

## Others
*.log
*.tmp
*.temp
*~